/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*============================
   Containers
=============================*/

body {
	background-color: #fff2e6;
}

.container {
	margin: 10px auto;
	width: 1000px;
	height: 768px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
}

.results {
	background-image: url("https://cdn.discordapp.com/attachments/177825596951363585/450302939886518272/eversong_woods.jpg");
}

.column {
	width: 32%;
	background-color: #FFFFFF;
	border: 10px solid #fff2e6;
	margin: 8px 5px;
	padding: 15px 10px;
}

.normal_section {
	border-top: 1px solid #D6D3C7;
	padding: 10px 0;
}

.name_rank {
	border-top: 3px solid #D6D3C7;
	padding: 10px 0;
}
#name_block{
	display: flex;
	justify-content: center;
  	flex-direction: column;
  	height: 200px;
}
.age_height ul {
	display: flex;
	flex-direction: row;
}
.age_height ul li {
	margin-right: 35px;
}

/*============================
   Fonts
=============================*/

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Open+Sans');

body { 
	font-family: 'IM Fell French Canon SC', serif;
	color: #61534A; 
	font-size: 20px;
}
.title { 
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.5em;
	font-weight: bold;
	color: #806D60;
	margin-bottom: 5px;
}

h1 {
	text-align: center;
	color: #806D60;
	font-size: 2em;
	text-transform: uppercase;
}

#first_name, #last_name { 
	font-size: 1.25em; 
	text-align: center;
	text-transform: uppercase;
}
#rank { 
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
}


/*============================
   Image & Name
=============================*/

#img_link {
	height: 200px;
	margin-right: 5px;
	float: left;
}
#last_name {
	margin-bottom: 20px;
}


/*============================
   Lists & Text
=============================*/

p, li {
	margin-bottom: 5px;
}

ul.bulleted {
	list-style: disc;
	font-size: 0.75em;
	margin-left: 25px;
	margin-bottom: 5px;
	padding: 5px 0 0 0;
}

li:empty {
	display:none;
}

